body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 500px;
    height: 540px;
}

table {
    border-collapse: collapse;
    border: 11px solid white;
}

td, th {
    padding: 10px;
    border: 10px solid black;
}
